@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --ocean: #2D5278;
  --sand: #f3ede9;
  --fish: #DC654A;
  --night: #1f2937;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
  background-color: var(--ocean);
}

/* Navbar css */
.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    height: 90px;
    z-index: 10;
    background-color: var(--night);
    color: var(--sand);
    transition: 0.5s;
}
.nav-header h1 {
    font-size: 1.5rem;
    font-weight: 500;
}


/* constent css */
/* constent css */
/* constent css */
/* constent css */
/* constent css */

.page-title {
    height: 5rem;
    width: 100%;
    /* background-color: var(--ocean); */
    margin-top: 90px;
    padding: 40px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--sand);
    /* justify-content: center; */
    border-radius: 5px;
}

.content-container {
    color: var(--ocean);
    /* background-color: var(--ocean); */
    padding: 1rem 0;
    /* border-radius: 10px; */
    /* box-shadow: 5px; */

    /* overflow: hidden; */
    /* background-image: #000; */
}



.card {
    padding: 2rem;
    background-color: var(--sand);

}

.card-title {
    font-size: 1.5rem;
    /* text-align: center; */
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    background-color: var(--sand);
    width: 100%;
    /* padding: 1rem 10rem; */
    /* something row: 1 col */
}

@media screen and (max-width: 640px) {
    .card-title {
        grid-template-columns: 1fr;
        display: flex;
        flex-direction: column;
    }

    .card {
        width: 90%;
    }
}

.card-body {
    font-size: 1rem;

}

.card-body a {
    font-size: 1rem;
    background-color: var(--fish);

}

.btn {
    background-color: var(--fish);
    font-size: 1rem;
    height: 40px;
    width: 175px;
    border: none;
    padding: .3rem .5rem;
    margin: .5rem;
    border-radius: 10px;
    color: var(--sand);
    /* border-bottom: 0; */
    text-align: center;
    /* margin: 1rem; */
    transition: .3s;
    cursor: pointer;
}

.card {
    margin: 20px;
    border-radius: 10px;
}

.btn:hover {
    background-color: var(--sand);
    color: var(--fish);
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 4px var(--fish); 
}

.btn:active {
    background-color: var(--sand);
    color: var(--ocean);
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 4px #5a01a7; 
    content: "Activated!" !important;
}

/* footer css */
/* footer css */
/* footer css */
/* footer css */

.footer {
    width: 100%;
    padding: 6rem 0;
    background-color: var(--night);
    color: var(--sand);
}

.footer-container {
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.left-side {
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.resources {
    display: flex;
    margin-bottom: 0.8rem;
}

.resources p {
    line-height: 30px;
}

.right-side {
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.social {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
}

h4 {
    font-size: 1.2rem;
    padding-bottom: 0.7rem;
}

p {
    font-size: 1.2rem;
}

@media screen and (max-width: 640px) {
    .footer-container {
        grid-template-columns: 1fr;
    }
}