@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ocean: #2D5278;
  --sand: #f3ede9;
  --fish: #DC654A;
  --night: #1f2937;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  background-color: var(--ocean);
}

/* mouse spotlight */
.cursor-box {
  box-shadow: 0 0 0 10000px rgba(0, 0, 0, 1.0);
  z-index: 10;
  border-radius: 50%;
}

.cursor-box .cursor-box-child {
  z-index: 10;
  border-radius: 50%;
  border: 0;
  box-shadow: inset 0px 0px 200px 75px rgba(0,0,0,1.0);
}